---
---

@import "{{ site.theme }}";

.coinsample {
	height: 250px;
	width: 250px;
	float: left;
	margin: 10px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

#dialog-content {
	width: 600px;
	height: 300px;
}
.coins-box {
	clear: both;
	border: 1px solid black;
	border-width: 1px 0 0 0;
	padding: 20px;
	margin: 20px;
}

.coin {
    width: 52px;
    margin: 10px;
    font-size: 20px;
    border: 2px;
    border-color: black;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 100px;
    float: left;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}
